.container{
    position: relative;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
    &:hover{
        text-decoration: underline;
        color:  #ec644b;
    }
}
@import'../mixins/mixins';
@import'../btn/buttons';
@import'../block/header';
@import'../block/work';
@import'../block/travel';
@import'../block/agent';
@import'../block/delivery';
@import'../block/form';
@import'../block/manager';
@import'../block/scheme';
@import'../block/slider';
@import'../block/callback';
@import'../block/_footer';
@import'../block/popap';



